<div
  class="h-screen flex flex-col justify-between {{
    projectDetails.backgroundStyle
  }}"
>
  <app-header></app-header>
  <!-- implements data from projectDetails -->
  <div *ngIf="projectDetails" class="overflow-auto scrollbar flex-grow {">
    <div class="flex flex-row items-center text-">
      <h1 class="text-5xl ml-3 mr-2">{{ projectDetails.title }} -</h1>
      <p class="text-4xl">{{ projectDetails.description }}</p>
    </div>

    <app-boardlist></app-boardlist>
  </div>
  <div class="fixed bottom-40 right-6 w-96 h-96">
    @if (showChat) {
    <app-chat></app-chat>
    }
    <button
      type="button"
      class="bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 rounded-full fixed bottom-24 right-5 w-12 h-12 flex items-center justify-center"
      aria-label="View chat"
      (click)="togleChat()"
    >
      <span class="absolute -inset-1.5"></span>
      <span class="sr-only">View chat</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ffffff"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-message-circle"
      >
        <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
      </svg>
    </button>
  </div>
  <app-footer></app-footer>
</div>
