<div>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmitUpdateTask()">

    <!-- Task Name  -->
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Enter the task name</mat-label>
        <input matInput placeholder="Name of task" formControlName="title" required [(ngModel)]="taskData.title" />
      </mat-form-field>
    </div>

    <!-- Task Description  -->
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Enter the task description</mat-label>
        <input matInput placeholder="Description of task" formControlName="description"
          [(ngModel)]="taskData.description" />
      </mat-form-field>
    </div>

    <!-- Task Position  -->
    <!-- TODO : Get the length of task list of this boardlist -->
    <div class="form-group">
      <label for="position" class="block text-sm font-medium text-gray-700">Task Position</label>
      <select id="position" name="position"
        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        <option selected value="default">{{ taskData.status }}</option>
        @for (status of statusList; track status) {
        <option [value]="status">{{ status }}</option>
        }
      </select>
    </div>

    <!-- Task Date  -->
    <div class="form-group">
      <label for="date" class="block text-sm font-medium text-gray-700">
        Ends at
      </label>
      <input formControlName="expirationDate" type="date" id="date" name="date" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" >
    </div>

    <!-- Task Status  -->
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Enter task status</mat-label>
        <mat-select formControlName="status"
        (selectionChange)="onStatusChange($event.value)">
          @for (status of statusList; track status) {
          <mat-option [value]="status">{{ status }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Task Hierarchy  -->
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Enter task importance</mat-label>
        <mat-select formControlName="hierarchy">
          @for (hierarchy of hierarchyList; track hierarchy) {
          <mat-option [value]="hierarchy">{{ hierarchy }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Submit Button  -->
    <div class="buttongroup">
      <button mat-raised-button type="submit" class="flat">
        Update this task
      </button>
    </div>
  </form>
</div>