<div class="notification-component">
  <div class="input-group">
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" />
  </div>

  @for( notification of notification; track notification) {
  <div class="notification">
    <p>{{ notification.id }}</p>
    <p>{{ notification.userId }}</p>
    <p>{{ notification.projectId }}</p>
  </div>
  }
  <button (click)="sendNotification(email)">Send Notification</button>

  <!-- Le message de la barre de notification sera affiché par MatSnackBar -->
</div>
