<div class="h-screen flex flex-col justify-between">
  <app-header></app-header>

  <div class="m-16">
    <div>Active</div>
    <div class="flex flex-row justify-start space-x-5 h-48 gap-8">
      <div *ngFor="let project of userProjects" class="card animate-slideInLeft w-64 h-48">
        <div class="flex flex-col justify-between w-64 h-44">
          <div>
            <p>{{ project.title }}</p>
          </div>
          <div class="mt-auto flex justify-start relative">
            <button (click)="this.selectedProject = project.id" class="bg-[#889AB5] hover:bg-[#34445B] text-white font-bold py-2 px-4 mb-2 ml-2 rounded w-4/6">
              Options
            </button>
            <div *ngIf="this.selectedProject == project.id" class="absolute left-0 mt-2 w-48 rounded-md shadow-lg bg-white z-10">
              <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                <button (click)="gotoProject(project)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Go to project</button>
                <button (click)="updateProject(project.id)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Update project</button>
                <button (click)="deleteProject(project.id)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Delete project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="animate-slideInLeft w-64 h-44 flex items-center justify-center mt-1">
        <div class="h-full w-full flex items-center justify-center p-4">
          <button (click)="openModal()" class="bg-[#889AB5] hover:bg-[#34445B] text-white font-bold rounded-lg w-full h-full flex items-center justify-center text-6xl">
            +
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="m-16">
    <div>Archived</div>
    <div class="flex flex-row justify-start space-x-5 h-48 gap-8">
      <div *ngFor="let project of userProjects" class="card animate-slideInLeft w-64 h-48">
        <mat-card class="flex flex-col justify-between w-64 h-44">
          <mat-card-content>
            <p>{{ project.title }}</p>
          </mat-card-content>
          <mat-card-actions class="mt-auto flex justify-start">
            <button (click)="gotoProject(project)" class="bg-[#889AB5] hover:bg-[#34445B] text-white font-bold py-2 px-4 mb-2 ml-2 rounded w-4/6">
              Go to project
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <app-modal [show]="showModal" (closeEvent)="closeModal()">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div class="form-group">
        <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
        <input type="text" id="title" class="form-control mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="title" required />
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
          <div *ngIf="title.errors?.['required']" class="text-red-500 text-xs mt-2">
            Le titre du projet est obligatoire.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
        <textarea id="description" class="form-control mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" formControlName="description"></textarea>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!projectForm.valid" (click)="closeModal()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Create Project
      </button>
    </form>
  </app-modal>
  <app-footer></app-footer>
</div>