.boardlist-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  
  .boardlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .task {
    margin: 10px 0;
  }

  .boardlist-main {
    display: flex;
  }

.boardlist-title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}