<div class="boardlist-main">
  <button (click)="openCreateListModal()" [hidden]="showCreateListModal">
    + Créer une nouvelle liste
  </button>
  <form
    [formGroup]="boardlistForm"
    (ngSubmit)="onSubmitBoardlist()"
    [hidden]="!showCreateListModal"
  >
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Enter the boardlist name</mat-label>
        <input
          matInput
          placeholder="Name of Boardlist"
          formControlName="boardlistName"
          required
        />
      </mat-form-field>
    </div>
    <div class="buttongroup">
      <button
        mat-raised-button
        type="submit"
        class="flat"
        (click)="openCreateListModal()"
      >
        Create new boardlist
      </button>
    </div>
  </form>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropList($event)"
  >
    <div class="boardlist-container" cdkDropListGroup>
      @for (boardlist of boardlistsProject; track boardlist) {
      <div
        cdkDrag
        class="boardlist"
        cdkDropList
        [id]="boardlist.id.toString()"
        [cdkDropListData]="tasks[boardlist.id]"
        (cdkDropListDropped)="dropTasks($event)"
      >
        <h2>{{ boardlist.name }}</h2>
        @for ( task of tasks[boardlist.id]; track task) {
        <div cdkDrag>
          <h3>{{ task.title }}</h3>
          <p>{{ task.description }}</p>
        </div>
        }
        <button (click)="openModal(boardlist.id)">créer une tâche</button>
        <app-modal [show]="showModal" (closeEvent)="closeModal()">
          <app-task
            [boardlistId]="selectedBoardlistId"
            [tasks]="tasks[selectedBoardlistId]"
            (taskCreated)="closeModal()"
          ></app-task>
        </app-modal>
      </div>
      }
    </div>
  </div>
</div>
