.main {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #383632;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
}

nav button {
    width: 8rem;
    margin: 0rem 1rem 0rem 1rem;
    cursor: pointer;
}

.component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #484233;
    padding: 12rem 0rem 12rem 0rem;
    height: 10rem;
    border-radius: 1rem;
    border: 1px solid #655735;
    color: white;
}

img {
    width: 50%;
    height: auto;
}