<form [formGroup]="connectionForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-start items-start p-0 px-12">
  <div class="form-group flex flex-col justify-start items-start p-0 px-12">
    <label class="text-white">Enter your email</label>
    <input
      placeholder="pat@example.com"
      [formControl]="email"
      (blur)="updateErrorMail()"
      required
      class="w-60 border-yellow-400 bg-white rounded-md px-3 py-2 text-black"
    />
    <p class="text-yellow-400">exemple : john&#64;doe.com</p>
    @if (email.invalid) {
    <p class="text-red-500">{{ errorMessage }}</p>
    }
  </div>
  <div class="form-group flex flex-col justify-start items-start p-0 px-12">
    <label>Enter your password</label>
    <input
      [type]="hide ? 'password' : 'text'"
      [formControl]="password"
      class="w-60 border-yellow-400 bg-white rounded-md px-3 py-2 text-black"
    />
    <button
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      class="text-yellow-400"
    >
      {{ hide ? "Hide" : "Show" }}
    </button>
  </div>
  <div class="buttongroup flex flex-row justify-start items-start p-0 px-12">
    <button type="submit" class="flat table-cell px-12 bg-yellow-400 py-2 rounded-md text-white">Se connecter</button>
  </div>
</form>