<nav class="bg-gray-800 rounded-lg shadow m-4">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-evenly">
      <div class="flex flex-1 items-center justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img
            class="h-8 w-auto"
            src="../../../../assets/logo/Logo-Record.svg"
            alt="Your Company"
          />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              [routerLink]="['/project']"
              class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
              aria-current="page"
              >Projects</a
            >
            <a
              (click)="showTeam = !showTeam"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >Team</a
            >
            <div
              class="absolute left-32 top-full mt-[-8px] w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu-button"
              tabindex="-1"
              [hidden]="!showTeam"
            >
              <!-- Active: "bg-gray-100", Not Active: "" -->
              <div
                class="block px-5 py-4 text-sm text-gray-700 space-y-4"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-0"
              >
                @for ( user of UserByProjectId; track user) {
                <div class="border-b pb-5">
                  <p>
                    {{ user.username }}
                  </p>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <button
          type="button"
          class="relative rounded-lg bg-gray-800 p-1 text-white hover:text-white focus:outline-none px-9 mr-5 border"
          aria-label="Invite notifications"
          (click)="showInvite = !showInvite"
        >
          <span class="absolute -inset-1.5"></span>
          <span> + Invite</span>
        </button>
        <div
          class="absolute right-0 top-full mt-[-8px] mr-[18rem] w-50 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="user-menu-button"
          tabindex="-1"
          [hidden]="!showInvite"
        >
          <app-notification></app-notification>
        </div>
        <!-- Notification button -->
        <button
          type="button"
          class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
          aria-label="View notifications"
          (click)="showNotification = !showNotification"
        >
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">View notifications</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
            />
          </svg>
        </button>
        <div
          class="absolute right-0 top-full mt-[-8px] mr-[14rem] w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="user-menu-button"
          tabindex="-1"
          [hidden]="!showNotification"
        >
          <!-- Active: "bg-gray-100", Not Active: "" -->
          <div
            class="block px-5 py-4 text-sm text-gray-700 space-y-4"
            role="menuitem"
            tabindex="-1"
            id="user-menu-item-0"
          >
            @for ( projectNotification of projectNotifications; track
            projectNotifications) {
            <div class="border-b pb-5" *ngIf="projectNotifications.length > 0">
              <p>
                Hello ! Vous avez été invité au projet
                {{ projectNotification.title }}
              </p>
              <div class="flex">
                <button
                  class="bg-[#93B4FF] hover:bg-green-700 text-[#0C111C] py-2 px-1 rounded"
                  (click)="
                    acceptInvitation(
                      projectNotification.projectId,
                      projectNotification.id
                    )
                  "
                >
                  accepter
                </button>
                <button
                  (click)="rejectInvitation(projectNotification.id)"
                  class="bg-[#172448] hover:bg-red-700 text-[#D5E2FF] py-2 px-1 rounded ml-2"
                >
                  refuser
                </button>
              </div>
            </div>
            }
          </div>
        </div>

        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button
              type="button"
              class="relative flex rounded-full bg-gray-800 text-white text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              id="user-menu-button"
              aria-expanded="false"
              aria-haspopup="true"
              (click)="showUserMenu = !showUserMenu"
            >
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <p class="mr-4">Bonjour {{ userName }}, prêt à déchier ?</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#ffffff"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-wrench"
              >
                <path
                  d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"
                />
              </svg>
            </button>
          </div>
          <div
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
            [hidden]="!showUserMenu"
          >
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a
              [routerLink]="['/profile']"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-0"
              >Your Profile</a
            >
            <a
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-2"
              (click)="logout()"
              >Sign out</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
        aria-current="page"
        >Dashboard</a
      >
      <a
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        >Team</a
      >
      <a
        [routerLink]="['/project']"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        >Projects</a
      >
      <a
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        >Calendar</a
      >
    </div>
  </div>
</nav>

<!-- <lucide-icon name="bell" color="#ffffff"></lucide-icon> -->
